body {
    background-color: rgb(44, 44, 44);
    align-items: center;
}

h1{
    color: #FFFF;
    font-family: "Times New Roman", Times, serif;
    font-size: 100px;
    margin-top: 5%;
    
}

p{
    color: #FFFF;
    font-family: "Times New Roman", Times, serif;
}


.postflow{
	
	/*background-color: #E0E0E0;*/

	position: absolute;
	align-self: center;
	left: 15%;
	width: 70%;
    top: 0;
	bottom: 0;
    text-align: center;
	
}